header {
  .navbar-brand {
    font-size: 35px;

    &::first-letter {
      color: rgb(0, 242, 255);
    }
  }
  li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 9px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-size: 30px;

    &:hover {
      background: rgb(55, 118, 121);
      color: black !important;
      border-radius: 50px;
      animation-duration: 0.1ms;
    }
  }
}
